<h1>Anagrams Checker</h1>
<h3>Check if two phrases are anagrams (contain the same letters but in a different order), palindromes (the same if one is spelled forwards and the other backwards), or antigrams (have no letters in common).
<h2>Enter the phrases you would like to evaluate below:</h2>
<form action='/result'>
  <div class='form-group'>
    <label for='input1'>1st Phrase</label>
    <input id='input1' name='input1' class='form-control' type='text'>
  </div>
  <div class='form-group'>
    <label for='input2'>2nd Phrase</label>
    <input id='input2' name='input2' class='form-control' type='text'>
  </div>
  <button type="submit" name="submit">Compare!</button>
</form>
