<h1>Anagrams Checker</h1>
<h2>Enter the phrases you would like to evaluate below:</h2>
<form action='/result'>
  <div class='form-group'>
    <label for='input1'>1st Phrase</label>
    <input id='input1' name='input1' class='form-control' type='text'>
  </div>
  <div class='form-group'>
    <label for='input2'>2nd Phrase</label>
    <input id='input2' name='input2' class='form-control' type='text'>
  </div>
  <button type="submit" name="submit">Compare!</button>
</form>
